:root {
  font-size: 14pt;
  background: linear-gradient(#7fdbff,rgb(166, 166, 255));
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color:azure;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: black;
}

th {
  background-color: #f4f4f4;
  color: black;
}

.breadcrumb {
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}
.breadcrumb li {
  display: inline;
}
.breadcrumb li::after {
  content: " > ";
}
.breadcrumb li:nth-last-child()::after {
  content: "";
}