<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>映画予約管理システム</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body style="text-align: center;">
    <h1>映画予約管理システム</h1>

    <hr style="width: 400px; border: none; border-top: 1px solid black; margin: 0 auto 30px auto;">

    <ul style="list-style: none; padding: 0; width: 300px; margin: 0 auto;">
      
      <li style="margin-bottom: 10px;">
        <a href="{{ url_for('user.list') }}" 
           style="display: block; background-color: white; border: 1px solid #ccc; padding: 15px; text-align: center; text-decoration: none; border-radius: 5px;">
           👤 ユーザー（顧客）
        </a>
      </li>

      <li style="margin-bottom: 10px;">
        <a href="{{ url_for('product.list') }}" 
           style="display: block; background-color: white; border: 1px solid #ccc; padding: 15px; text-align: center; text-decoration: none; border-radius: 5px;">
           🎬 映画一覧
        </a>
      </li>

      <li style="margin-bottom: 10px;">
        <a href="{{ url_for('order.list') }}" 
           style="display: block; background-color: white; border: 1px solid #ccc; padding: 15px; text-align: center; text-decoration: none; border-radius: 5px;">
           🎫 予約
        </a>
      </li>

    </ul>

<div style="
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
">
    <canvas id="salesChart"></canvas>
</div>

  <script id="sales-data" type="application/json">
{
  "labels": {{ labels | tojson }},
  "values": {{ values | tojson }}
}
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const salesData = JSON.parse(
    document.getElementById('sales-data').textContent
  );

  const labels = salesData.labels;
  const values = salesData.values;

  new Chart(document.getElementById('salesChart'), {
    type: 'line',
    data: {
      labels: labels,
      datasets: [{
        label: '売上（円）',
        data: values,
        tension: 0.0
      }]
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: '月別総売上'
        }
      },
      scales: {
        y: { beginAtZero: true }
      }
    }
});
</script>
</body>
</html>